:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #111111;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@font-face {
  font-family: 'Matt_Trial_Black';
  src: url('fonts/Matt_Trial-Black-BF670897ed2f663.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Matt_Trial Semibold';
  src: url('fonts/Matt_TrialVariable-Roman-BF670897ecee147.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Matt_Trial';
  src: url('fonts/Matt_Trial-Regular-BF670897ed2b9ca.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) 
{
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-table .el-table__cell
{
  box-sizing: border-box;
  min-width: 0;
  padding: 8px 0;
  position: relative;
  text-overflow: ellipsis;
  text-align: center !important;
  vertical-align: middle;
  z-index: var(--el-table-index);
}
.el-button 
{
  height: 7vh !important;
}

.el-button>span 
{
  align-items: center;
  display: inline-flex;
  font-size: 1.2em;
  color: black;
  font-family:'Matt_Trial Semibold';
}

.el-dropdown-menu {
  --el-dropdown-menu-box-shadow: var(--el-box-shadow-light);
  --el-dropdown-menuItem-hover-fill: black;
  --el-dropdown-menuItem-hover-color: white;
  --el-dropdown-menu-index: 10;
  font-family:'Matt_Trial Semibold' !important;
  display: flex;
  color: black !important;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 1;
  width: 12vw !important;
  position: relative;
  vertical-align: top;
}
.el-dropdown-item {
  color: black !important;
  
}

.carte
{
  text-align: left;
  margin-left: 2vw;
  width: 20vw;
}
.soustitre
{
  font-family:'Matt_Trial-Semibold';
  margin-top: 2vh;
}
.soustitre2
{
  font-family:'Matt_Trial_Black';
  margin-top: 2vh;
  font-size: 1.2em;
  color: #ececec;
  width: 7vw;
}
.montant
{
  font-family:'Matt_Trial_Black';
  font-size: 3em;
  color: rgb(249, 249, 249);
  margin-top: -1vh;
  
}

@property --k {
	syntax: '<number>';
	initial-value: 0;
	inherits: false
}
.number {
    transition: all 1s ease;
    opacity: 0;
}

.number
{
    opacity: 1;
}

@keyframes k { to { --k: 1 } }

.el-dialog 
{
  --el-dialog-width: 50%;
  --el-dialog-bg-color: #f8f8f8 !important;
  --el-dialog-box-shadow: var(--el-box-shadow);
  --el-dialog-font-line-height: var(--el-font-line-height-primary);
  --el-dialog-padding-primary: 16px;
  --el-dialog-border-radius: 10px !important;
  background: var(--el-dialog-bg-color);
  border-radius: var(--el-dialog-border-radius);
  box-shadow: var(--el-dialog-box-shadow);
  height: 45%;
  box-sizing: border-box;
  font-family: 'Matt_Trial Semibold';
  margin: var(--el-dialog-margin-top, 15vh) auto 50px;
  overflow-wrap: break-word;
  padding: 3vw !important;
  position: relative;
  width: var(--el-dialog-width, 50%);
  height: auto;
}

.el-input__wrapper {
  align-items: center;
  background-color: #3a3a3a !important;
  background-image: none;
  border-radius: 10px !important;
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
  cursor: text;
  display: inline-flex;
  flex-grow: 1;
  transform: translateZ(0);
  margin-top: 1vh !important;
  margin-bottom: 2vh;
  transition: var(--el-transition-box-shadow);
}

.el-input__inner {
  --el-input-inner-height: calc(var(--el-input-height, 32px) - 2px);
  background: none;
  border: none;
  font-family: 'Matt_Trial Medium' !important;
  color: #1b1b1b !important;
  box-sizing: border-box;
  flex-grow: 1;
  text-align: center;
  font-size: inherit;
  height: 6vh !important;
  line-height: var(--el-input-inner-height);
  outline: none;
  padding: 0;
  width: 100%;
}

.el-dialog__title {
  color: rgb(17, 17, 17) !important;
  font-size: 1.6em !important;
  font-family: 'Matt_Trial_Black' !important;
  line-height: var(--el-dialog-font-line-height);
}

.el-button--primary {
  --el-button-bg-color: #00f4f4 !important;
  --el-button-active-color: rgb(0 125 255) !important;
  --el-button-hover-bg-color: rgb(0 125 255) !important;
  border: none !important;
}

h1
{
   font-family: 'Matt_Trial_Black';
   color: rgb(254, 254, 254);
   font-size: 4em;
   width: 50%;
   line-height: 7vh;
   margin-bottom: 4vh;
}

.p-dialog-title {
  font-family: 'Matt_Trial_Black' !important;
  font-weight: var(--p-dialog-title-font-weight);
  font-size: var(--p-dialog-title-font-size);
}

h2
{
  font-family: 'Matt_Trial_Black';
  color: #111111;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.h1{
  margin-left: -12vw;
  margin-top: -18vh;
  margin-bottom: 6vh;
}

.el-scrollbar
{
  width: 100%;
  height: 90% !important;
  margin-top: 2vh;
}

.el-input .coti
{
  width: 100% !important;
}
.p-button {
  font-family: 'Matt_Trial'!important;
}

.p-inputtext {
  font-family: 'Matt_Trial'!important;
}

.p-inputnumber {
  font-family: 'Matt_Trial'!important;
}
.p-button:not(:disabled) {
  background: rgb(24, 24, 24) !important;
  border: none !important;
  font-family: 'Matt_Trial'!important;
  color: var(--p-button-primary-hover-color);
}
.p-button:not(:disabled):hover {
  background: rgba(0, 255, 34) !important;
  border: none !important;
  font-family: 'Matt_Trial'!important;
  color: var(--p-button-primary-hover-color);
}

.p-inputgroup
{
  margin-bottom: 2vh;
  font-family: 'Matt_Trial' !important;
}

.p-inputnumber-horizontal .p-inputnumber-input 
{
    text-align: center !important;
    font-family: 'Matt_Trial' !important;
}

label 
{
  font-family: 'Matt_Trial' !important;
}

span 
{
  font-family: 'Matt_Trial' !important;
}

.p-button-label
{
  font-family: 'Matt_Trial Semibold' !important;
  font-weight: 700 !important;
}

.p-chart
{
    display: flex !important;
    box-sizing: border-box ;
    height: 48vh !important;
    width: 61vw !important;
}


span .font-bold
{
   font-family: 'Matt_Trial Semibold'!important;
   color: #111111;
}


@media (max-width: 435px) 
{
  .p-chart {
    display: flex !important;
    box-sizing: border-box;
    height: 35vh !important;
    width: 84vw !important;
  }

  .p-dialog {
    width: 95% !important;
  }

  .card:hover .overlay{
    font-size: 3em !important;
    line-height: 6vh !important;
    padding: 34px 56px !important;
}
.card2:hover .overlay[data-v-5bc56b41] 
{
  top: 50%;
  left: 50%;
  background-color: rgb(0, 255, 34, 0.4);
  font-size: 3em !important;
  line-height: 6vh !important;
  padding: 34px 56px !important;
}

.card3:hover .overlay[data-v-c971cc65] {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 0, 225, 0.6);
  color: white;
  font-size: 3em !important;
  line-height: 5vh !important;
  padding: 34px 56px !important;
  font-weight: bold;
  font-family: 'Matt_Trial_Black' !important;
}

.card4:hover .overlay[data-v-c2040d9a] {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0, 255, 221, 0.4);
  color: white;
  font-size: 3em !important;
  line-height: 6vh !important;
  padding: 34px 56px !important;
  font-weight: bold;
  font-family: 'Matt_Trial_Black' !important;
}
}